cmake_minimum_required(VERSION 3.10)
project({{ project_name }} LANGUAGES CXX)

set(CMAKE_CXX_STANDARD 17)
set(CMAKE_CXX_STANDARD_REQUIRED ON)

file(GLOB_RECURSE SHARED_SRC_FILES CONFIGURE_DEPENDS "src/*.cc" "src/*.cpp" "src/*.h")

file(GLOB ENTRY_POINTS CONFIGURE_DEPENDS "*.cc")

foreach(ENTRY_POINT IN LISTS ENTRY_POINTS)
    get_filename_component(EXEC_NAME "${ENTRY_POINT}" NAME_WE)

    add_executable(${EXEC_NAME} ${ENTRY_POINT} ${SHARED_SRC_FILES})

    target_include_directories(${EXEC_NAME} PRIVATE 
        "${CMAKE_CURRENT_SOURCE_DIR}/src"
    )

    set_target_properties(${EXEC_NAME} PROPERTIES
        RUNTIME_OUTPUT_DIRECTORY "${CMAKE_CURRENT_SOURCE_DIR}/build/bin"
    )
endforeach()

set(CMAKE_EXPORT_COMPILE_COMMANDS ON)