# {{ project_name }}

## Compilation

```bash
cmake -S . -B build
cmake --build build
```

## Running the Executable

To run the executable, use the following command:

```bash
./build/bin/{{ executable_name }}
```
